name: Build Windows EXE

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python -m spacy download en_core_web_sm

      - name: Install PyInstaller
        run: |
          pip install pyinstaller

      - name: Build EXE
        run: |
          pyinstaller --onefile --windowed --name AI_Data_Entry_Pro main.py

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: AI_Data_Entry_Windows_EXE
          path: dist/AI_Data_Entry_Pro.exe
